<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Clientes</title>
    </h:head>
    <h:body>
        <p:growl id="msj"/>
        
        <h:form id="menu">
            <p:fieldset legend="Nuevo">
                <p:commandButton value="Nuevo" oncomplete="PF('java').show();"/>
            </p:fieldset>
        </h:form>
        
        <p:dialog widgetVar="java" header="Cliente" modal="true" resizable="false" showEffect="explode">
            <h:form id="datos">
                <p:panelGrid columns="2">
                    <p:outputLabel value="Nombre">
                        <p:inputText value="#{registroClientes.cliente.nombre}"/>
                    </p:outputLabel>
                    <p:outputLabel value="Apellido">
                        <p:inputText value="#{registroClientes.cliente.apellido}"/>
                    </p:outputLabel>
                    <p:outputLabel value="Fecha de Nacimiento">
                        <p:calendar pattern="yyyy-MM-dd" value="#{registroClientes.cliente.fechaNacimiento}"/>
                    </p:outputLabel>
                    <p:outputLabel value="Dirección">
                        <p:inputText value="#{registroClientes.cliente.direccion}"/>
                    </p:outputLabel>
                    <p:outputLabel value="Telefono">
                        <p:inputMask mask="9999-9999" value="#{registroClientes.cliente.telefono}"/>
                    </p:outputLabel>
                    <p:outputLabel value="Correo">
                        <p:inputText value="#{registroClientes.cliente.email}"/>
                    </p:outputLabel>
                    <p:commandButton value="Crear" actionListener="#{registroClientes.crearCliente()}"
                                     rendered="#{registroClientes.cliente.idCliente !=null}"
                                     update="datos  :msj" oncomplete="PF('java').hide();"/>
                    <p:commandButton value="Editar" actionListener="#{registroClientes.editarCliente()}"
                                     rendered="#{registroClientes.cliente.idCliente ==null}"
                                     update="datos  :msj" oncomplete="PF('java').hide();"/>
                    
                </p:panelGrid>
            </h:form>
        </p:dialog>
        
        
    </h:body>
</html>

