<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

    <h:head>
        <title>Exportes</title>
        <meta charset="UTF-8"/>
    </h:head> 
    <h:body> 
        <h:form>
            <p:panelGrid columns="3" layout="grid">
                <p:commandButton value="Exportar" action="#{detalleProductos.mostrarDetalles()}" ajax="false"/>
            </p:panelGrid>
        </h:form>

        <h:form>
            <h:link outcome="cliente" value="Clientes"/>
        </h:form>
    </h:body> 
</html>
